---
# Upgrade of sqlite database is not possible - just remove it

- name: Include ansible_system-ansible_distribution.yml / ansible_system.yml
  ansible.builtin.include_tasks: "{{ tasks_file }}"
  vars:
    tasks_file: "{{ lookup('ansible.builtin.first_found', files, errors='ignore') }}"
    files:
      - "{{ ansible_system }}-{{ ansible_distribution }}.yml" # Linux-Debian.yml
      - "{{ ansible_system }}.yml" # FreeBSD.yml

- name: Create {{ zabbix_proxy_confd_dir }}
  ansible.builtin.file:
    path: "{{ zabbix_proxy_confd_dir }}"
    state: directory

- name: Create {{ zabbix_proxy_db_dir }}
  ansible.builtin.file:
    path: "{{ zabbix_proxy_db_dir }}"
    state: directory
    owner: zabbix
    group: zabbix
    mode: "0750"

- name: Create {{ zabbix_proxy_conf_dir2 }}/zabbix_proxy.psk (1/2)
  ansible.builtin.shell: openssl rand -hex 32 > {{ zabbix_proxy_conf_dir2 }}/zabbix_proxy.psk
  args:
    creates: "{{ zabbix_proxy_conf_dir2 }}/zabbix_proxy.psk"
  notify: Restart zabbix-proxy

- name: Create {{ zabbix_proxy_conf_dir2 }}/zabbix_proxy.psk (2/2)
  ansible.builtin.file:
    path: "{{ zabbix_proxy_conf_dir2 }}/zabbix_proxy.psk"
    owner: root
    group: zabbix
    mode: "0640"

- name: Ensure include of {{ zabbix_proxy_confd_dir }}
  ansible.builtin.lineinfile:
    path: "{{ zabbix_proxy_conf_file }}"
    line: Include={{ zabbix_proxy_confd_dir }}/*.conf
    insertafter: ^# Include=.*
  notify: Restart zabbix-proxy

- name: Add zabbix-proxy configuration
  ansible.builtin.template:
    src: "{{ zabbix_proxy_conf }}"
    dest: "{{ zabbix_proxy_confd_dir }}/local-zabbix_proxy.conf"
  notify: Restart zabbix-proxy

- name: Remove deprecated {{ zabbix_proxy_confd_dir }}/{{ zabbix_proxy_conf }}
  ansible.builtin.file:
    path: "{{ zabbix_proxy_confd_dir }}/{{ zabbix_proxy_conf }}"
    state: absent
  notify: Restart zabbix-proxy

# Ensure to use name.service and not only name
- name: Ensure zabbix-proxy startup at system startup
  ansible.builtin.service:
    name: "{{ zabbix_proxy_service_name }}"
    state: started
    enabled: true
